<h1>Ура!</h1>

<p>
  Поздравляем! Вы прошли тест <%= @test.title %>. Процент правильных ответов составил <%= @result.calculate_result_percent.to_i.to_s + "%" %>. Не хотите пройти <%= link_to 'другие тесты', tests_url %>?
</p>

