<h1>Список значков</h1>

<%= link_to 'Создать значок', new_admin_badge_path %>

<%= render 'shared/errors', resource: @badge %>

<table class="table">
  <tr>
    <th>Название</th>
    <th>Изображение</th>
    <th>Описание</th>
    <th>Событие</th>
    <th colspan="3">Действия</th>
  </tr>

  <%= render @badges %>
</table>

<%= link_to 'Вернуться', admin_tests_path %>
