<div class="parent-div">
  <div class="nav nav-admin paddings colored">
    <span class="nav-admin"><%= t('nav.panel') %></span>

    <div class="nav-admin user">
      <div class="nav-admin user-info">
        <div class="left-div">
          <%= t('hello') %>
        </div>

        <div class="right-div">
          | <a class="colored link-without-underline" rel="nofollow" data-method="delete" href="/gurus/logout" style="color: white;"><%= t('actions.exit') %></a>
        </div>
      </div>
    </div>
  </div>
</div>