<div class="parent-div">
  <div class="nav nav-admin paddings colored">
    <span class="nav-admin">Панель администратора TestGuru</span>

    <div class="nav-admin user">
      <div class="nav-admin user-info">
        <div class="left-div">
          Добро пожаловать!
        </div>

        <div class="right-div">
          | <a class="colored link-without-underline" rel="nofollow" data-method="delete" href="/gurus/logout" style="color: white;">Выход</a>
        </div>
      </div>
    </div>
  </div>
</div>