<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= image_tag badge.image,
                                         src: 'Image Not Found',
                                         size: '50x50',
                                         onerror: 'this.error=null;this.src="https://img-fotki.yandex.ru/get/100036/137106206.762/0_1f23e4_997e0e78_orig.jpg"' %></td>
  <td class="align-middle"><%= badge.description %></td>
  <td class="align-middle"><%= t("admin.badges.events.#{badge.event}") %></td>
</tr>