<hr>
<td>
  <th><%= current_year %></th>
  <th>Автор: Иван Сизых</th>
  <th>
    <%= github_url('Ivan-Sizyh', 'TestGuru') %>
  </th><br>
  <th>С помощью веб-сервиса TestGuru вы можете создавать и проходить различные тесты</th><br>
  <th>
    <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: "_blank", rel: "nofollow" %>
  </th>
</td>
