<nav class="nav_bar">
  <%= link_to "TestGuru", tests_path, class: :title %>

  <div>
    <% if logged_in? %>
      <%= link_to "Выход", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Вход", login_path %>
      <%= link_to "Регистрация", signup_path %>
    <% end %>
  </div>
</nav>
