<% if @result.calculate_result_percent >= 85 %>
  <p>
    Тест пройден успешно!
    Процент успеха: <span class="good_test_result"><%= @result.calculate_result_percent %>%</span>
  </p>
<% else %>
  <p>
    Тест не пройден!
    Процент успеха: <span class="bad_test_result"><%= @result.calculate_result_percent %>%</span>
  </p>
<% end %>
