<% if @result.calculate_result_percent >= 85 %>
  <p>
    <%= t('result.pass_the_test_successfully', result_percent: @result.calculate_result_percent).html_safe %>
  </p>
<% else %>
  <p>
    <%= t('result.pass_the_test_unsuccessfully', result_percent: @result.calculate_result_percent).html_safe %>
  </p>
<% end %>
