<h1><%= t('result.test_passed', test_title: @result.test.title) %>!</h1>

<p><%= t('result.test_result', correct_questions: @result.correct_questions, questions_count: @result.test.questions.count) %></p>

<%= render 'valuation' %>

<%= link_to t('button.list_test'), tests_path %>
