<h1><%= t('activerecord.attributes.answer.new_answer') %></h1>

<%= @question.body %>

<%= render 'form', answer: @answer %>
<%= link_to t('devise.shared.links.back'), admin_question_path(@question) %>
