.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-admin {
  width: 100%;
  padding-right: 10px;
  line-height: 35px;
}

.nav-admin.title {
  margin-bottom: 10px;
}

.nav-admin.user.cont {
  width: 100%;
}

.nav-admin.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-div {
  text-align: left;
}

.right-div {
  text-align: right;
}

.paddings {
  padding-left: 10px;
}

.colored {
  color: white;
  background-color: #4293e6;
}

.link-without-underline {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  background-color: transparent;
}