// Place all the styles related to the results controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.good_test_result {
  color: green;
}

.bad_test_result {
  color: red;
}

.progress_bar {
  width: 30%;
  height: 30px;
  background-color: grey;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

.progress_bar_fill {
  width: 0%;
  height: 30px;
  background-color: green;
}
